:root{
    --bg-alphacode: #078ed1;
    --btn-color: #66b1dd;
}

.bg-alphacode{
    background-color: var(--bg-alphacode);
}

.alphacode-input{
    border: none;
    border-bottom: 2px solid gray;
}

.alphacode-input:focus{
    border-bottom: 2px solid var(--bg-alphacode);
}